.map-container {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // margin: 30px;
  }
  .map-frame {
    // border: 2px solid black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #map {
    height: 800px;
    width: 1000px;
    border-radius: 30px;

  }

  .leaflet-popup-content{
    width: 300px !important;
  }

  .leaflet-popup-content > div{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    width: fit-content !important;
  }

  
