<div class="background_img">
  <div class="container">
    
      <div class="module-history">
        <img
          src="../../../../../assets/images/alash.png"
          style="
            width: 300px;
            height: 600px;
            object-fit: cover;
            object-position: 57% 0;
            z-index: 1;
            border-radius: 5px;
          "
          alt=""
        />
        <img src="../../../../../assets/images/person.png"  class="secondImg1"/>  
        <h1>Qazaqtyñ ūly tūlğalary</h1>
      </div>

      <div class="module-language">
        <img
          src="../../../../../assets/images/baiterek.png"
          style="
            width: 300px;
            height: 600px;
            object-fit: cover;
            object-position: 60% 0;
            border-radius: 5px;
          "
          alt=""
        />
        <img src="../../../../../assets/images/til.png" class="secondImg2"/>
        <h1>Qazaq tılı</h1>
      </div>
   
      <div class="module-culture">
        <img
          src="../../../../../assets/images/kuiz.png"
          style="
            width: 300px;
            height: 600px;
            object-fit: cover;
            object-position: 65% 0;
            border-radius: 5px;
          "
          alt=""
        />
        <img src="../../../../../assets/images/dastur.png" class="secondImg3"/>
        <h1>Qazaq dästürı</h1>
      </div>
  </div>
</div>
