<footer>
    <!-- ВНЕШНИЕ РЕСУРСЫ -->
    <div fxLayout="row wrap" fxLayout.xs="column" class="footer_top">
      <div fxFlex="25" fxFlexOffset="4" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="100" class="first_row" fxLayout="column"
           fxLayoutAlign="start start">
        <a (click)="1"><img src="../../../../../../assets/images/logo.png" style="border-radius: 50%;width: 100px; height: 100px;"></a>
        <div class="social">
          <a (click)="2">
            <img class="" src=".../../../../../../assets/images/instagram.svg">
          </a>
          <a (click)="3">
            <img class="" src="../../../../../../assets/images/youtube.svg">
          </a>
  
        </div>
        <p>© 2024 <br> YerBak education</p>
      </div>
  
      <!-- Внешние ресурсы -->
      <!-- <div fxFlex="25" fxFlex.sm="25" fxFlex.md="25" fxFlex.xs="100" class="second_row" fxLayout="column"
           fxLayoutAlign="start start">
        <h5 class="external_resources">{{'ExternalResources' | translate}}</h5>
        <ul class="out-svc-foot">
          <li><a (click)="4">{{'ElectronicLicensing' | translate}}</a></li>
          <li><a (click)="5">{{'TaxpayerCabinet' | translate}}</a></li>
          <li><a (click)="5">{{'Courtroom' | translate}}</a></li>
          <li><a (click)="6">{{'DebtorCollector' | translate}}</a></li>
          <li><a (click)="7">{{'GovernmentBodies' | translate}}</a></li>
        </ul>
      </div>
   -->
      <!-- Контакты -->
      <div fxFlex="20" fxFlex.sm="20" fxFlex.md="20" fxFlex.xs="100" class="second_row" fxLayout="column"
           fxLayoutAlign="start start">
        <h3>Contacts</h3>
        <p>YerBak education says yes for learners! <br> Read, study, explore, talk, share and enjoy!</p>
        <p><i class="material-icons md-18">location_on</i> Astana , Kazakhstan</p>
        <p><i class="material-icons md-18">phone</i> +7 (777) 77-77-77</p>
      </div>
  
      <!-- РЕГИСТРАЦИЯ ДЛЯ СОТРУДНИКОВ -->
      <div fxFlex="25" fxFlex.sm="25" fxFlex.md="25" fxFlex.xs="100" class="last_row" fxLayout="column">
        <h5></h5>
        <h4 style="color: #00a8eb;"></h4>
        <span>If you discover an error or inaccuracy, please contact us through the following communication channels:</span>
        <span class="footer-text">
            E-mail:support.yerbak
          </span>
        <span class="footer-text">
            Телефон: +7 (777) 077 73 69
          </span>
      </div>
  
    </div>
  
  </footer>
  