<div class="form-structor">
	<div class="signup" >
		<h2 class="form-title" id="signup" style="font-family: 'Open Sans', sans-serif; background-color: white; border-radius: 50px;">Sign up</h2>
		<div class="form-holder">
			<input type="text" class="input" placeholder="Name" />
			<input type="email" class="input" placeholder="Email" />
			<input type="password" class="input" placeholder="Password" />
		</div>
		<button class="submit-btn" (click)="signUp()" >Sign up</button>
	</div>
	<div class="login"  [ngClass]="{'slide-up': !addSlideUpClass}" >
		<div class="center">
			<h2 class="form-title" id="login" (click)="toggleSlideUpClass()" style="font-family: 'Open Sans', sans-serif;">Log in</h2>
			<div class="form-holder">
				<input type="email" class="input" placeholder="Email" />
				<input type="password" class="input" placeholder="Password" />
			</div>
			<button class="submit-btn" (click)="logIn()">Log in</button>
		</div>
	</div>
</div>