<app-home-page-header></app-home-page-header>
<div class="container">

    <div class="mapPhoto">
        <h1>Qazaq Tarihi</h1>
        <img src="../../../../../assets/images/mapPeople/tarih.jpeg" alt="">
    </div>
<map-page></map-page>

    <div class="alashOrda">
        
        <img src="../../../../../assets/images/alash.png" alt="">
        <a href="https://www.youtube.com/watch?v=x1Lf_t6Uuas&ab_channel=QROqu-a%C4%9Fartuministrl%C4%B1g%C4%B1" target="_blank">Video about Alash Orda</a>
        <p>Our goal for this module is to provide information about Kazakh individuals who have influenced Kazakh history, culture, and development. By showing these influential people on a map, we can enhance educational engagement, foster cultural awareness, inspire future generations, boost tourism and local pride</p>
    </div>
</div>

<app-home-page-footer></app-home-page-footer>