<div class="container">

    <div class="upperPart">
        <div class="title-qazaq-tili">
            <h1>Qazaq Tili</h1>
        </div>
    
        <div class="upperQuotes">
            <div class="firstQuote">
                <p>Сырлы тіл, жырлы тіл, нұрлы тіл - қазақ тілін ғасырлар бойы қастерлеп сақтағандарыңыз үшін, қазақ бауырлар, сіздерге бек зор рахмет!

                    Ілмектер: Сырлы тіл, жырлы тіл, нұрлы тіл, қазақ тілі, тіл
                    Хасан Туфан</p>
            </div>
            <div class="secondQuote">
                <p>Қазақ тілі - түркі тілдерінің ішіндегі ең таза әрі бай тіл.</p>
            </div>
        </div>
    </div>
    
    <div class="lowerPart">
        <div class="content">
            <div class="left-panel">

            </div>
            <div class="right-material">

                <div class="content-material">

                </div>

                <div class="buttons">
                    <button>
                        take quiz
                    </button>
                </div>

            </div>
        </div>

        <div class="lowerQuote">
            <p>Ғылыми, әдеби тілдік және тарихи тұрғыдан қарағанда қазақ тілі - түркі тілдерінің ішіндегі өте әсем, өте бай тілдердің бірі.

                Ілмектер: қазақ тілі, тіл, түркі тілдері
                Йоханнес Бенцинг</p>
        </div>
    </div>

</div>

