.centered-preloader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .module-preloader {
    @extend .centered-preloader;
    // position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
  }
  
  .app-preloader {
    @extend .centered-preloader;
    height: 100vh;
    width: 100vw;
  }
  