<div class="text">
    <img src="../../../../../assets/images/besikInfo.jpeg" alt="">
  <p>
    A cradle is a wooden bed for separating a baby. The cradle is used by the vast majority of peoples living in Central Asia and the Caucasus, India, and China. It is made only in different models. Besik has been spread among the nomadic Kazakh people since ancient times. Kazakh cradles are made of pine, birch, and mostly willow. Such a cradle will be light, compact and durable, convenient to move. The cradle is very suitable for the cleanliness of the child, because the specially installed peninsula and faucet do not spread the child's feces</p>
</div>
