/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
    font-family: 'Lugrasimo-Regular';
    src: url('./assets/fonts/Lugrasimo-Regular.ttf') format('truetype');
    /* You can also specify additional font properties like font-weight and font-style here */
    font-family: 'Didot Title';
    src: url('./assets/fonts/Didot\ Title.otf') format('opentype');

    font-family: 'gothamrnd_medium';
    src: url('./assets/fonts/gothamrnd_medium.otf') format('opentype');
  }