<header>
  <div class="container" *ngIf="headerShow">
    <div class="header-left">
      <img
        src="../../../../../../assets/images/logo.png"
        class="logo"
        alt="logo"
        (click)="navigateToMainPage()"
      />

      <div class="menu-items" fxLayout="row">
        <div class="header-menu">
          <li
            class="qazaq-dastur header_bottom_link"
            [class.active_url]="pageIsMain"
          >
            <a (click)="navigateToDasturPage()">qazaq-dastur</a>
          </li>
          <li class="qazaq-tarih">
            <a (click)="navigateToTarihPage()">qazaq-tarih</a>
          </li>
          <li class="qazaq-til">
            <a (click)="navigateToTilPage()">qazaq-til</a>
          </li>
        </div>
      </div>
    </div>
    <div class="container2">
      <div class="header-right">
        <div class="login-block" *ngIf="isSignUp && !isLoggedIn">
          <button (click)="openSignUpModal()"><span>Sign Up</span></button>
        </div>

        <div class="login-block" *ngIf="isLoggedIn" style="    display: flex;
        align-items: center;">
          <button (click)="logout()"><span>Logout</span></button>
          <div>
            <p>You are logged in</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>
